<footer class="footer">
    <div class="content">
        <img id="footer-logo" src="https://i.imgur.com/inBZZRA.png" width="140" height="60">
    </div>
    <p class="footer-text">
        This is a project by Alex Arvanitis and Bryan Curtis for General Assembly. See <a href="https://github.com/bryancurtis3/all-trails-remaster">about</a> and  <a
        <% const num = Math.round(Math.random()) %>
        <% if (num === 1) { %>
            href="https://www.linkedin.com/in/bryancurtis3/"
        <% } else { %>
            href="https://www.linkedin.com/in/alexander-arvanitis/"
        <% } %> 
         >contact
        </a> 
        in the header for more info.
    </p>
</footer>