<section class="hero">
    <div class="hero-search">
        <!-- Search Field -->
        <form id="search" class="control has-icons-left has-icons-right" action="/trails" method="GET">
            <input 
            name="q"
            class="input is-large is-rounded"
            type="search"
            placeholder="Search for a trail"
            >
            <span class="icon is-large is-left">
                <i class="fas fa-search"></i>
            </span>

            
            <button id="search-arrow" class="icon is-large is-right">
                <a href="/trails">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </button>
            
        </form>
    </div>
    <!-- Hero Image -->
    <div class="hero-body hero-body-partial">
        <img class="hero-image" src="https://i.imgur.com/xNcPoCG.jpg" alt="">
    </div>

</section>