<section class="hero is-small">
    <!-- Hero Image -->
    <div id="hero-body" class="hero-body">
        <img id="main-image" src="https://i.imgur.com/xNcPoCG.jpg" alt="">
    </div>
    
    <!-- Search Field -->
    <form id="search" class="control has-icons-left" action="GET">
        <input class="input is-large is-rounded" type="text" placeholder="Search for a trail">
        <span class="icon is-large is-left">
            <i class="fas fa-search"></i>
        </span>
    </form>
</section>