

<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="logo-link" href="/">
        <img src="https://i.imgur.com/inBZZRA.png" width="120" height="50">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/trails">
          Explore Trails
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Help
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            
            <% if( typeof user !== "undefined") {%>
              
              <a href="/profile" id="profile" class="button">
                Profile
              </a>
              <a href="/logout" id="logout" class="button">
                Logout
              </a>
            <% } else { %> 
            <a href="/registration" id="sign-up" class="button">
              <strong>Sign up</strong>
            </a>
            <a href="/login" id="login" class="button">
              Log in
            </a>
            <% } %>
            
          </div>
        </div>
      </div>
    </div>
  </nav>