<div class="modal plan-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form action="/plans/create" method="POST">
            <header class="modal-card-head">
                <p class="modal-card-title">Make A Plan</p>
                <a type="button" class="delete close-modal" aria-label="close"></a>
            </header>

            <section class="modal-card-body date-trail-select">

                <!-- Drop down for trail selection -->
                <div class="select mb-5">
                    <select name="trail_id">
                        <option>Select a trail</option>
                        <% trails.forEach(trail=> { %>
                            <option value="<%= trail.id %>">
                                <%= trail.name %>
                            </option>
                        <% }) %>
                    </select>
                </div>

                <!-- Calendar Input -->
                <div>
                    <p>Select A Date For Your Trip</p> 
                    <input name="date" type="date" class="">
                </div>
                

            </section>
            <footer class="modal-card-foot">
                <button class="button review-submit submit">Submit</button>
                <button type="button" class="button close-modal">Cancel</button>
            </footer>
        </form>
    </div>
</div>