<!-- Trail Box Container -->
<div class="trail-boxes">
    <div class="box trail-box">
        <!-- Trail Box Image -->
        <div class="box-img-cont">
            <img class="box-img" src="https://i.imgur.com/yinQ7OR.jpg" alt="">
        </div>

        <div class="box-text-cont">
            <h3>Devil's Garden</h3>
            <p class="trail-location">Arches National Park, Utah</p>
            <p class="diff-rating">easy</p>
            <p class="trail-length">Length: 8.0 miles</p>
        </div>
    </div>

    
    <div class="box trail-box">
        <!-- Trail Box Image -->
        <div class="box-img-cont">
            <img class="box-img" src="https://i.imgur.com/yinQ7OR.jpg" alt="">
        </div>

        <div class="box-text-cont">
            <h3>Devil's Garden</h3>
            <p class="trail-location">Arches National Park, Utah</p>
            <p class="diff-rating">easy</p>
            <p class="trail-length">Length: 8.0 miles</p>
        </div>
    </div>

    <div class="box trail-box">
        <!-- Trail Box Image -->
        <div class="box-img-cont">
            <img class="box-img" src="https://i.imgur.com/yinQ7OR.jpg" alt="">
        </div>

        <div class="box-text-cont">
            <h3>Devil's Garden</h3>
            <p class="trail-location">Arches National Park, Utah</p>
            <p class="diff-rating">easy</p>
            <p class="trail-length">Length: 8.0 miles</p>
        </div>
    </div>
</div>