<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('./partials/_head.ejs') %>

<!-- Navbar -->
<%- include('./partials/_nav.ejs') %>

<body>
    <!-- Hero Banner -->
    <%- include('./partials/_hero.ejs') %>







</body>
</html>
