<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('./partials/_head.ejs') %>

<body>
    <!-- Navbar -->
    <%- include('./partials/_nav.ejs') %>

    <!-- Hero Banner -->
    <%- include('./partials/_hero.ejs') %>



<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWxleGdhIiwiYSI6ImNrdjFmMGZvejZsYmEydnQ5ZjcwbDRyZnIifQ.EVCmZIQHzV7y-DjXXWW3mg';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/streets-v11', // style URL
center: [-72.8741, -50.97365], // starting position [lng, lat]
zoom: 9 // starting zoom
});
</script>


</body>
</html>