:root {
    --green: rgb(85, 135, 44);
    --sign: rgb(75, 152, 211);
}

* {
    box-sizing: border-box;
}

#navbar {
    background-color: white;
}

#sign-up {
    background-color: var(--sign);
    border-color: var(--sign);
    color: white;
}

#login {
    border-color: var(--sign);
    color: var(--sign);
}

#hero-body {
    padding: 0;
    margin: 0;
}

#main-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

#search {
    position: absolute;
    
    width: 90%;
    margin-left: 5%;
    margin-top: 240px;
}

.hero {
    height: 20px;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: var(--sign);
}

@media only screen and (min-width: 800px) {

}
