:root {
    --green: rgb(85, 136, 44);
    --sign: rgb(75, 152, 211);
}

* {
    box-sizing: border-box;
}

a {
    font-style: none;
    color: #4a4a4a;
}

#navbar {
    background-color: white;
}

.logo-link {
    line-height: 0;
    padding-top: 2px;
}

#sign-up {
    background-color: var(--sign);
    border-color: var(--sign);
    color: white;
}

#login {
    border-color: var(--sign);
    color: var(--sign);
}

.hero-body {
    padding: 0;
    margin: 0;
}

.hero-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

#search {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-top: 240px;

    // Does not work atm
    // @media only screen and (min-width: 700px) {
    //     input {
    //         max-width: 650px;
    //     }
    // }
}

.hero {
    height: 20px;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: var(--sign);
}




// === Registration CSS ===
// .reg-background {
//     background-image: url(https://i.imgur.com/hMrEfAu.jpg);
//     height: 100px;
//     width: 100px;
//     object-fit: cover;
// }


.reg-container {
    margin-left: 5%;
    margin-top: 1.2em;
    width: 90%;
    border-radius: 20px;
    max-width: 450px;
    justify-content: center;
    position: absolute;
    // box-shadow: 0px 0px 7px 1px rgba(40,40,40,0.5);
}

.form-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: .8em;
    font-weight: bold;
}

#submission {
    background-color: var(--sign);
    border-color: var(--sign);
    color: white;
}

// @media only screen and (min-width: 500px) {
//     // .reg-container {
//     //     margin-left: 50%;
//     //     margin-right: none;
//     //     width: 450px;
//     //     justify-content: center;
//     // }
// }

// === Trail box CSS ===

.trail-boxes {
    margin-top: 510px;
}

.trail-box {
    margin: 7%;
    width: 86%;
    height: 260px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    .box-img-cont {
        object-fit: cover;
        height: 55%;
        .box-img {
            height: 145px; 
            width: 100%;
            object-fit: cover;
            object-position: 50% 25%;
        }
    }

    .box-text-cont {
        padding: .6em 1em 0 1em;
        line-height: 1.6em;
        h3 {
            font-weight: bold;
            font-size: 1.1em;
            line-height: 1.3em;
        }
        .trail-location {
            font-size: .8em;
            color: rgb(150, 150, 150);
            padding-bottom: .15em;
        }
        .diff-rating {
            background-color: mediumseagreen;
            width: 25%;
            font-size: .8em;
            font-weight: bolder;
            color:rgb(235, 235, 235);
            text-align: center;
            line-height: 1.6em;
            padding-bottom: .1em;
            border-radius: 7px;
        }
        .trail-length {
            padding-top: .15em;
            font-size: .9em;
        }
    }
}

@media only screen and (min-width: 420px) {

    .trail-boxes {
        display: grid;
        grid-template-columns: repeat(auto-fill, 330px);
        gap: 1em 1.5em;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 525px 1.5em 0 1.5em;
    }

    .trail-box {
        margin: 0;
        width: 320px;
        min-width: 320px;
    }
}


// Trail show CSS
.show-img {
    height: 212px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.circles {
        margin-top: 168px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        background-color: var(--green);
        padding-bottom: 2em;
        .circle {
            background: #FFFFFF;
            border-radius: 50%;
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 24%);
            width: 48px;
            height: 48px;
            .inner-circle {
                height: 24px;
                width: 24px;
                background-size: cover;
                margin: 11px 0 0 12px;
            }
            p {
                margin-top: .8em;
                color: #FFFFFF;
                width: .3fr;
                display: flex;
                text-align: center;
                align-items: center;
            }
            #photos-circle {
                background-image: url(https://cdn-assets.alltrails.com/assets/packs/media/Green-Variant/photos-green-81f81b5c.png);
            }
            #directions-circle {
                margin-top: 12px;
                background-image: url(https://cdn-assets.alltrails.com/assets/packs/media/Green-Variant/directions-green-ed305b8c.png);
            }
            #more-circle {
                margin-top: 12px;
                background-image: url(https://cdn-assets.alltrails.com/assets/packs/media/Green-Variant/more-green-dc6375e2.png);
            }
        }
}

.trail-description {
    font-size: 18px;
    padding: 1.3em;
}

#tr-desc-hr {
    margin: 0 1.3em;
}



// Footer CSS



