:root {
  --green: rgb(85, 136, 44);
  --sign: rgb(75, 152, 211);
}

* {
  box-sizing: border-box;
}

a {
  font-style: none;
  color: #4a4a4a;
}

#navbar {
  background-color: white;
}

.logo-link {
  line-height: 0;
  padding-top: 2px;
}

#sign-up {
  background-color: var(--sign);
  border-color: var(--sign);
  color: white;
}

#login {
  border-color: var(--sign);
  color: var(--sign);
}

.hero-body {
  padding: 0;
  margin: 0;
}

.hero-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}

#search {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  margin-top: 240px;
}

.hero {
  height: 20px;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: var(--sign);
}

.reg-container {
  margin-left: 5%;
  margin-top: 1.2em;
  width: 90%;
  border-radius: 20px;
  max-width: 450px;
  justify-content: center;
  position: absolute;
}

.form-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.8em;
  font-weight: bold;
}

#submission {
  background-color: var(--sign);
  border-color: var(--sign);
  color: white;
}

.trail-boxes {
  margin-top: 510px;
}

.trail-box {
  margin: 7%;
  width: 86%;
  height: 260px;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
.trail-box .box-img-cont {
  object-fit: cover;
  height: 55%;
}
.trail-box .box-img-cont .box-img {
  height: 145px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}
.trail-box .box-text-cont {
  padding: 0.6em 1em 0 1em;
  line-height: 1.6em;
}
.trail-box .box-text-cont h3 {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.3em;
}
.trail-box .box-text-cont .trail-location {
  font-size: 0.8em;
  color: #969696;
  padding-bottom: 0.15em;
}
.trail-box .box-text-cont .diff-rating {
  background-color: mediumseagreen;
  width: 25%;
  font-size: 0.8em;
  font-weight: bolder;
  color: #ebebeb;
  text-align: center;
  line-height: 1.6em;
  padding-bottom: 0.1em;
  border-radius: 7px;
}
.trail-box .box-text-cont .trail-length {
  padding-top: 0.15em;
  font-size: 0.9em;
}

@media only screen and (min-width: 420px) {
  .trail-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 1em 1.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 525px 1.5em 0 1.5em;
  }

  .trail-box {
    margin: 0;
    width: 320px;
    min-width: 320px;
  }
}
@media only screen and (min-width: 650px) {
  #show-body {
    height: 100vh;
    background-color: #F2F2F2;
  }
}
.show-wrapper {
  max-width: 650px;
  height: 100vh;
  background-color: white;
}

.show-img {
  height: 212px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.circles {
  margin-top: 17px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: var(--green);
  padding-bottom: 2em;
}
.circles .circle {
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
  width: 48px;
  height: 48px;
}
.circles .circle .inner-circle {
  height: 24px;
  width: 24px;
  background-size: cover;
  margin: 11px 0 0 12px;
}
.circles .circle p {
  margin-top: 0.8em;
  color: #FFFFFF;
  width: 0.3fr;
  display: flex;
  text-align: center;
  align-items: center;
}
.circles .circle #photos-circle {
  background-image: url(https://cdn-assets.alltrails.com/assets/packs/media/Green-Variant/photos-green-81f81b5c.png);
}
.circles .circle #directions-circle {
  margin-top: 12px;
  background-image: url(https://cdn-assets.alltrails.com/assets/packs/media/Green-Variant/directions-green-ed305b8c.png);
}
.circles .circle #more-circle {
  margin-top: 12px;
  background-image: url(https://cdn-assets.alltrails.com/assets/packs/media/Green-Variant/more-green-dc6375e2.png);
}

.trail-description {
  font-size: 18px;
  padding: 1.3em;
}

#tr-desc-hr {
  margin: 0 1.3em;
}

.stats {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2.6em;
  justify-items: center;
}
.stats span {
  font-size: 1.5em;
  font-weight: bold;
}

.show-box-text-cont {
  margin: 76px 0 0 1.7em;
  background-color: white;
}
.show-box-text-cont h3 {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}
.show-box-text-cont .diff-rating {
  background-color: mediumseagreen;
  padding: 3px 9px;
  font-size: 0.8em;
  font-weight: 500;
  color: #ebebeb;
  text-align: center;
  border-radius: 5px;
}
.show-box-text-cont .trail-location {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.2em;
  color: black;
}

/*# sourceMappingURL=main.css.map */
