<!DOCTYPE html>
<html lang="en">
<head>

<!-- Header tag content -->
<%- include('../partials/_head.ejs') %>

<!-- Navbar -->
<%- include('../partials/_nav.ejs') %>

<body>
  <!-- <div>
    <img  src="https://i.imgur.com/hMrEfAu.jpg" alt="">
  </div> -->
  <section class="reg-container">

    <form action="/registration" method="POST" class="box">

      <h3 class="form-title">Create an account</h3>

        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input
              name="first"
              class="input"
              type="text"
              placeholder="First name..."
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input
              name="last"
              class="input"
              type="text"
              placeholder="Last name..."
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              name="email"
              class="input"
              type="email"
              placeholder="input@email.com"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input
              name="password"
              class="input"
              type="password"
              placeholder="*******"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Location</label>
          <div class="control">
            <input
              name="location"
              class="input"
              type="text"
              placeholder="City, State, Zip"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Profile Picture</label>
          <div class="control">
            <input
              name="avatar"
              class="input"
              type="text"
              placeholder= "Insert image URL"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button id="submission" class="button is-link is-fullwidth">Submit</button>
          </div>
        </div>
    </form>

  </section>



</body>
</html>